<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Tabela de Cursos</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Carga Horária</th>
                <th scope="col">Duração</th>
                <th scope="col">Área do Saber</th>
                <th scope="col">Instituição</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nome }}</td>
                <td>{{ curso.carga_horaria_total }}</td>
                <td>{{ curso.duracao_meses }}</td>
                <td>{{ curso.area_saber }}</td>
                <td>{{ curso.instituicao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
