<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequências</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Tabela de Frequências</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Curso</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Estudante</th>
                <th scope="col">Número de Faltas</th>
            </tr>
        </thead>
        <tbody>
            {% for frequencia in frequencias %}
            <tr>
                <td>{{ frequencia.curso }}</td>
                <td>{{ frequencia.disciplina }}</td>
                <td>{{ frequencia.pessoa }}</td>
                <td>{{ frequencia.numero_faltas }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
